body
{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.vqqKl7ZDOnwfMU7rpcXsjAHaE8?pid=Api&P=0&h=220"); 
    background-size: cover;  
    background-position: center;
    background-attachment: fixed; 
    height: 100vh;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.color
{
    color:#ecf0f1;
    padding: 10px;
    margin: 7x;
}

#star
{
  position: relative;
  left: 255px;
}

.container
{
  display: flex;
  width: auto;
  height: 950px;
  margin: 20px 0px 8px 0px;
  gap: 17px;
}

.contain
{
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile 
{
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  width: 310px;
  height: 325px;
  transition: ease-in-out 0.3s 0s;
  color: white;
  text-shadow: 0px 0px 3px black;
}

.profile:hover{
   box-shadow: 0 0 30px black;
  transform: scale(1.05);
}
.card-img 
{
  width: 305px;
  height: 200px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.head
{
    text-align: center;
    width: auto;
    height: auto;
    margin: 20px 20px;
    background-color: rgb(128,0,0);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: ease-in-out 0.3s 0s;
}
.head:hover
{
   transform: scaleY(1.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128,0,0);
    padding: 25px;
    position: static;
    margin: 0px 0px 10px 0px;
}

.nav-links {
    list-style:none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 5px;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    transition: ease-in-out 0.3s 0s;
}

.nav-links a:hover {
  background-color: black;
}

.logo
{
  width: 40px;
  height: 40px;
}

.item a
{
  border-radius: 15px;
  padding: 25px;
  max-width: 300px; 
  color:#ecf0f1;
  box-shadow: 0 0 10px black;
  background-color: rgb(128,0,0);   
  text-decoration: none;
}

.item a:hover
{
  background-color: black;
}    

.foot
{
    width: auto;
    height: 100px;
    text-align: center;
    background-color: rgb(128,0,0);   
    margin: 0px;
    color: #ffffff;
}

.image
{
  max-width:1000px;
  max-height:750px;
  padding: 0px;
  margin: 0px;
  filter: blur(20%);
}

.about
{
  width: 500px;
  max-height: 700px;  
}